body {
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.constraints {
  display: flex;
  flex-direction: column;
  width: calc(3.5*8rem); /* To match width of the ingredients table. */
}
.constraints--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.constraints--cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.constraint {
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.constraint--red {
  background-color: red;
}
.constraint--green {
  background-color: green;
}
.constraint--blue {
  background-color: royalblue;
}
.constraint--neutral {
  background-color: gray;
}
.constraint--plus::before {
  content: "+";
  font-size: 1.5rem;
}
.constraint--minus::before {
  content: "-";
  font-size: 1.5rem;
}
.constraint--neutral::before {
  content: "N";
  font-size: 1.5rem;
}
.constraint--empty {
  font-size: 0.5rem;
}
.constraint--best {
  background-color: yellow;
}


.molecule {
  display: flex;
  flex-direction: column;
}
.molecule--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.molecule--cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.atom {
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.atom--red {
  background-color: red;
}
.atom--green {
  background-color: green;
}
.atom--blue {
  background-color: royalblue;
}
.atom--plus::before {
  content: "+";
}
.atom--minus::before {
  content: "-";
}
.atom--big {
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.6em;
}
.atom--small {
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.4em;
}


.ingredients {
  border-collapse: collapse;
}
.ingredients--cell {
  text-align: right;
  font-size: 0.8rem;
  width: 3.5rem;
  border: solid 1px black;
  box-sizing: border-box;
}
.ingredients--inner-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}
.yes {
  background-color: limegreen;
}
.no {
  background-color: tomato;
}
.probability {
  width: 1.5rem;
  font-size: 0.5rem;
}
